body
  font-family 'Helvetica Neue', arial, sans-serif

.order-form
  padding 5rem 0
  background lighten(#bada55, 0)
  
  &-widget
    background rgba(255,255,255,0.5)
    padding 2rem 4rem
    border-radius 6px
    box-shadow 0 10px 30px rgba(0,0,0,0.1)
  
.order-list
  padding 5rem 0
  
.form-group
  padding .5rem 0