@import url(https://fonts.googleapis.com/css?family=Lato:400,600,900)

html, body
  font-size 100%

body
  font-family 'Lato', arial, sans-serif

.order-form
  padding 3rem 0 4rem
  background lighten(#bada55, 0)
  
  &-title
    text-align center
    font-weight 900
    color darken(#bada55, 35)
    margin 1rem 0 2rem
  
  &-widget
    background rgba(255,255,255,0.5)
    padding 2rem 3rem
    border-radius 6px
    box-shadow 0 10px 30px rgba(0,0,0,0.1)
    
  &-desc
    font-weight 600
    margin-top 0
    
  &-link-wrapper
    text-align center
    display block
    margin-top 2rem
    
  &-link
    color darken(#bada55, 35)
    border-bottom dashed 1px
    
    &:hover, &:active, &:focus
      color darken(#bada55, 45)
      text-decoration none
    
  
.order-list
  padding 3rem 0
  
.form-group
  padding .5rem 0