$border = rgba(56, 73, 75, 0.1)
$text = #31484b
$active = #bff2bc

.order-form
  
  &-title
    text-align center
    font-weight 900
    margin 3rem 0
  
  &-widget
    background white
    padding 2rem 3rem
    border-radius 6px
    box-shadow 0 10px 40px rgba(black,0.1)
    
  &-desc
    font-weight 600
    margin-top 0
    
  &-link-wrapper
    text-align center
    display block
    margin-top 2rem
    
  &-link
    color darken(#bada55, 35)
    border-bottom dashed 1px
    
    &:hover, &:active, &:focus
      color darken(#bada55, 45)
      text-decoration none


.order__input
  padding 1.5rem
  border solid 4px $border
  border-radius 0
  box-shadow none
  outline none
  
  &:focus, &:active
    border-color $active
    box-shadow none


.button
  
  &__submit
    margin 2rem 0
    border-radius 0
    padding 1.5rem 2rem
    border none
    box-shadow 0 15px 20px rgba(black, 0.1)
    transition box-shadow 0.1s
    background desaturate(darken($active, 20), 15)
    
    &:hover
      background desaturate(darken($active, 25), 20) !important
      box-shadow 0 10px 15px rgba(black, 0.1)
      
    &:active, 
    &:focus
      background desaturate(darken($active, 25), 15) !important

.radio 
  
  &__list
    display flex
    flex-wrap wrap
    justify-content center
  
  &__wrapper
    position relative
    flex 1 1 120px
    cursor pointer
    margin .1rem
      
  &__text
    display block
    background $border
    color #31484b
    text-transform uppercase
    font-size .8rem
    text-align center
    font-weight 500
    cursor pointer
    padding .75rem 1rem
    
    &:hover
      background lighten($active, 7)
    
  &__label
    margin 0
    display block
  
  &__input
    position absolute
    top 0
    left 0
    // visibility hidden
    height 0
    width 0
    opacity 0
    
    &:checked ~ .radio__text
      background $active
    